<%- include('head.html') %>

    <div class="container-xl">
        <!-- 이미지 슬라이드 -->
        <div class="my-5 mx-auto slide-wrap">
            <div class="slide-box">
                <div class="slide-item">
                    <img src="/public/세일중.jpg" id="slide01" class="img-fluid" alt="세일">
                </div>
                <div class="slide-item">
                    <img src="/public/추천중.jpg" id="slide02" class="img-fluid" alt="세일">
                </div>
                <div class="slide-item">
                    <img src="/public/모름.jpg" id="slide03" class="img-fluid" alt="세일">
                </div>

            </div>
            <div class="slide-btn">
                <div class="slide_prev_button"><i class="fas fa-regular fa-circle-chevron-left"></i></div>
                <div class="slide_next_button"><i class="fas fa-regular fa-circle-chevron-right"></i></div>
            </div>
        </div>
        <div class="category mt-5">
            <div class="category-title">당신에게 추천하는 카테고리</div>
            <div>
                <div class="category-sub-title">추천맛을 봐라</div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="/public/mac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">사과를 팝니다</h5>
                                <p class="card-text">이건 사과입니다
                                    애플입니다 한 입 먹혔습니다
                                    남 모르게 눈물을 흘립니다 또르륵또르륵
                                </p>
                                <p class="card-price">9,999원</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/public/mac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">사과를 팝니다</h5>
                                <p class="card-text">이건 사과입니다
                                    애플입니다 한 입 먹혔습니다
                                    남 모르게 눈물을 흘립니다 또르륵또르륵
                                </p>
                                <p class="card-price">9,999원</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/public/mac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">사과를 팝니다</h5>
                                <p class="card-text">이건 사과입니다
                                    애플입니다 한 입 먹혔습니다
                                    남 모르게 눈물을 흘립니다 또르륵또르륵
                                </p>
                                <p class="card-price">9,999원</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/public/mac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">사과를 팝니다</h5>
                                <p class="card-text">이건 사과입니다
                                    애플입니다 한 입 먹혔습니다
                                    남 모르게 눈물을 흘립니다 또르륵또르륵
                                </p>
                                <p class="card-price">9,999원</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category-btn"><button class="btn">더 많은 카테고리의 맛을 보기 <i
                            class="fas fa-regular fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="blank"></div>
        <div class="mt-5 category">
            <div class="category-title">당신에게 두번째로 추천추천하는 카테고리</div>
            <div>
                <div class="category-sub-title">추천하는 거!</div>
                <div class="row  row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="/public/mac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">사과를 팝니다</h5>
                                <p class="card-text">이건 사과입니다
                                    애플입니다 한 입 먹혔습니다
                                    남 모르게 눈물을 흘립니다 또르륵또르륵
                                </p>
                                <p class="card-price">9,999원</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/public/mac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">사과를 팝니다</h5>
                                <p class="card-text">이건 사과입니다
                                    애플입니다 한 입 먹혔습니다
                                    남 모르게 눈물을 흘립니다 또르륵또르륵
                                </p>
                                <p class="card-price">9,999원</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/public/mac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">사과를 팝니다</h5>
                                <p class="card-text">이건 사과입니다
                                    애플입니다 한 입 먹혔습니다
                                    남 모르게 눈물을 흘립니다 또르륵또르륵
                                </p>
                                <p class="card-price">9,999원</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/public/mac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">사과를 팝니다</h5>
                                <p class="card-text">이건 사과입니다
                                    애플입니다 한 입 먹혔습니다
                                    남 모르게 눈물을 흘립니다 또르륵또르륵
                                </p>
                                <p class="card-price">9,999원</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category-btn"><button class="btn">더 많은 카테고리의 맛을 보기 <i
                            class="fas fa-regular fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <%- include('tail.html') %>