<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b87a4e6176.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/app.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-brands fa-shopify"></i>진수퍼마켙</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="상품을 검색하세요" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit"><i
                            class="fas fa-regular fa-magnifying-glass"></i></button>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="" class="nav-link active"><i class="fas fa-light fa-user"></i>로그인/회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link active"><i class="fas fa-light fa-cart-shopping"></i>장바구니</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="navbar navbar-expand-lg bg-light mt-2">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">카테고리</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">음식</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">생필품</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">전자제품</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 이미지 슬라이드 -->
        <div class="text-center">
            <img src="/public/세일중.jpeg" class="img-fluid border" alt="세일">
            <img src="/public/추천중.jpeg" class="img-fluid border" alt="세일">
            <img src="/public/모름.jpeg" class="img-fluid border" alt="세일">
        </div>

        <div>
            <div>추천 카테고리</div>
            <div>
                <div>추천 제품</div>
                <div>추천 제품</div>
                <div>추천 제품</div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script></script>
</body>

</html>